#ticker {
    text-align: center;
    display: none;
}

.coinmarketcap-currency-widget {
    display: inline-block;
    width: 300px;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    margin-top: 5px;
}
.coinmarketcap-currency-widget:hover{
    background: rgb(69, 158, 231);
    cursor: pointer;
    
}

#front-page {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    background: #00d2ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #00d2ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #fc4a1a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Jura', sans-serif;
}

.title-text {
    text-align: center;
    font-size: 40px;
    color: greenyellow;
}

#menu {
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 25px;
    background: #00d2ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #00d2ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#centered {
    width: 33%;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
}

#forms {
    text-align: center;
}

#chart {
    float: right;
    width: 33%;
    height: 100%;
}

#buttons {
    text-align: center;
    padding: 25px;
}

#main-page {
    display: inline-block;
    width: 100%;
    display: none;
}

#news-ticker {
    display: inline-block;
    width: 33%;
    height: 100%;
}

/* The actual popup (appears on top) */

.popuptext {
    width: 160px;
    color: red;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 0;
    bottom: 84%;
    left: 50%;
    margin-left: -80px;
    font-size: 18px;
}

button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
}

/* Custom */

button {
    display: inline-block;
    padding: 10px 20px;
    top: 0;
    font-size: 30px;
    font-family: "Open Sans", Helvetica;
    border-radius: 4px;
    border-bottom: 1px solid rgba( 28, 227, 125, 0.5);
    background: rgba( 22, 230, 137, 1);
    color: #fff;
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

button:hover {
    top: -10px;
    box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2);
    -webkit-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    -ms-transform: rotateX(20deg);
    transform: rotateX(20deg);
}

button:active {
    top: 0px;
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0);
    background: rgba( 20, 224, 133, 1);
}

#remove-one,
#remove-zerotwentyfive {
    background: red;
}

#add {
    width: 200px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}

#initial-balance-input {
    text-align: center;
    font-size: 30px;
    position: relative;
}

#login {
    padding: 10px;
    margin-top: 10px;
}

#information {
    display: none;
    height: 400px;
    position: relative;
}

#price-information,
#balance-information {
    border: 2px solid black;
    width: 15%;
    border-radius: 25px;
    padding: 1px;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 400px;
    background: #00d2ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #00d2ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.error {
    display: none;
    color: red;
    font-size: 25px;
}
#price-checker{
    display: none;
    position: absolute;
    left: 68%;
    bottom: 150px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 25px;
    background: #00d2ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #00d2ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
