#ticker {
    color: green;
    text-align: center;
}

.coinmarketcap-currency-widget {
    display: inline-block;
    width: 300px;
    background-color: lightblue;
}

#front-page {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    background-color: royalblue;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: orange;
}

#initial-balance {
    position: absolute;
    top: 45%;
    left: 45%;
}

.title-text {
    text-align: center;
    font-size: 40px;
    color: greenyellow;
}

#menu {
    text-align: center;
   
}
#centered{
    width: 33%;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
}

#forms {
    text-align: center;
}

#chart {
    float: right;
    width: 33%;
    height: 100%;
}

#buttons {
    text-align: center;
    padding: 25px;
}
#mainPage{
    display: inline-block;
    width: 100%;
}
#news-ticker{
    display: inline-block;
    width: 33%;
    height: 100%;
}


/* The actual popup (appears on top) */

.popuptext {
    width: 160px;
    color: red;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 87%;
    left: 50%;
    margin-left: -80px;
}

